:root
{
	--primary-color: #0d6efd;
	--secondary-color: var(--light-color);

	--primary-tint-color: #0053cf;
	--secondary-tint-color: var(--light-tint-color);

	--light-color: #ffffff;
	--dark-color: #000000;

	--light-tint-color: rgb(240, 240, 240);
	--dark-tint-color: rgb(16, 16, 16);
  
	--animDur:1s;
	--animDel:0s;
	--darkmode:0;

	--inputValid: #198754;
	--inputInvalid: #dc3545;
}

*:not(body, nav)
{
	opacity: 0;
	transition: 0.25s;
	font-family: Helvetica, sans-serif;
}

.visible
{
	opacity: 1;
}

.smooth
{
	transition: 0.25s;
}

body
{
	transition: 0.0s;
	opacity: 1;
	background-color: var(--secondary-tint-color);
}

.fade-in
{
	animation: onStartFade var(--animDur);
	animation-fill-mode: backwards;
	transition: transform 0.25s;
}

.float-in
{
	animation: onStartFloat var(--animDur);
	animation-fill-mode: backwards;
	transition: transform 0.25s;
}

nav
{
	transition: 0.0s;
	opacity: 1;
	background-color: var(--secondary-color);
}

.butt
{
	color: var(--secondary-color);
	background-color: var(--primary-color);
	border: 2px solid var(--primary-color);
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	border-radius: 6px;
	font-weight: bold;
}

.butt:hover
{
	background-color: var(--primary-tint-color);
	border-color: var(--primary-tint-color);
}

.butt-slide
{
	transition: 0.25s;
	border: 2px solid var(--primary-color);
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	color: var(--primary-color);
	background-color: transparent;
	background-size: 200% auto;
	background-position: right center;
	background-image: linear-gradient(to right, var(--primary-color) 25%, transparent 50%, transparent 100%);
	font-size: 25px;
	border-width: 4px;
	border-radius: 15px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}

.butt-slide:hover
{
	background-size: 400% auto;
	background-position: left center;
	border-color: var(--primary-color);
	color: var(--secondary-color);
}

.butt-slide[aria-expanded="true"]
{
	background-size: 400% auto;
	background-position: left center;
	border-color: var(--primary-color);
	color: var(--secondary-color);
	padding-right: 750px;
	transition: all 0.25s, padding 0.75s;
	/*text-align: start;*/
}

.logoText
{
	color: var(--primary-color);
	font-size: 35px;
	font-weight: bold;
}

.largeText
{
	color: var(--primary-color);
	font-size: 75px;
	font-weight: bold;
}

.mediumText
{
	color: var(--primary-color);
	font-size: 50px;
	font-weight: bold;
}

.smallText
{
	color: var(--primary-color);
	font-size: 25px;
	font-weight: bold;
}

.collapseMod
{
	box-shadow: none;
}

.collapseMod:focus
{
	box-shadow: none;
}

.textInput
{
	color: var(--primary-color);
	background-color: var(--secondary-color);
	border-color: var(--primary-color);
	border-width: 3.5px;
	border-radius: 8px;
	transition: 0.25s;	
}

.textInput:focus
{
	color: var(--primary-color);
	background-color: var(--secondary-color);
	border-color: var(--primary-color);
	border-width: 3.5px;
	border-radius: 8px;
	transition: 0.25s;
}

.textInput::file-selector-button
{
	color: var(--primary-color);
	background-color: var(--secondary-color);
	border-color: var(--primary-color);
	transition: 0.25s;
}

.textInput:hover:not(:disabled):not([readonly])::file-selector-button
{
	color: var(--secondary-color);
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	transition: 0.25s;
}

@media (max-width: 992px)
{
	.butt
	{
		font-size: 35px;
		border-radius: 12px;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.butt-slide
	{
		font-size: 50px;
		border-width: 8px;
	}

	.logoText
	{
		font-size: 60px;
	}

	.textInput
	{
		font-size: 35px;
		border-width: 6px;
		border-radius: 12px;
	}

	.textInput:focus
	{
		font-size: 35px;
		border-width: 6px;
		border-radius: 12px;
	}

	.smallText
	{
		font-size: 35px;
	}
}

@keyframes onStartFade
{
	0%
	{
		opacity: 0;
		/*transform: translate(0px, -50px);*/
	}
	100%
	{
		opacity: 1;
		/*transform: translate(0px, 0px);*/
	}
}

@keyframes onStartFloat
{
	0%
	{
		opacity: 0;
		transform: translate(0px, -50px);
	}
	100%
	{
		opacity: 1;
		transform: translate(0px, 0px);
	}
}