/*Color variables used by all the css classes. These are modified by the darkmode.*/
:root
{
  --logo-main-text:#0351AC;
  --logo-main-bg:#0351AC;
  --butt-main-text:#0d6efd;
  --butt-main-bg:#0d6efd;
  --blu3:#0053cf;
  --butt-sec-text:white;
  --butt-sec-bg:transparent; 

  --head-text:white;

  --navbar-bg:rgba(255, 255, 255, 0.95);
  --card-bg:rgba(255, 255, 255, 0.95);
  
  --animDur:1s;
  --animDel:1s;
  --def-main-text:#231F20;
  /*--bg:#e9e9e9;*/
  --bg:rgb(238, 238, 238);
  --light-bg:#e9e9e9;
  --dark-bg:rgba(5, 5, 5, 1);
  --bgGrad:rgba(166, 169, 185, 0.25);
  --light-bgGrad:rgba(166, 169, 185, 0.25);
  --dark-bgGrad:rgba(5, 5, 5, 0.5);

  --input-name-bg:#f8f9fa;
  --input-border:rgba(200, 200, 200, 1);

  --blu:#29A0E1;
  --blu2:#0d6efd;
  --darkmode:0;

  --inputValid: #198754;
  --inputInvalid: #dc3545;
}

/*Adds the start animation to all elements.*/
*
{
  transition: 0.25s;
  animation: onStart var(--animDur);
  animation-fill-mode: backwards;
  font-family: Helvetica, sans-serif;
}

/*Class for the default button.*/
.butt
{
  color: white;
  background-color: var(--butt-main-bg);
  border: 2px solid var(--butt-main-text);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 6px;
  font-weight: bold;
  float: left;
}

.butt:hover
{
  background-color: var(--blu3);
  border-color: var(--blu3);
}

.butt.butt-slide
{
  color: var(--butt-main-text); 
  background-color: transparent;
  background-size: 200% auto;
  background-position: right center;
  background-image: linear-gradient(to right, var(--butt-main-bg) 25%, var(--butt-sec-bg) 50%,
    var(--butt-sec-bg) 100%);
}

/*Slides the button background from (butt-sec-bg) to (butt-main-bg) when hovered over.*/
.butt.butt-slide:hover
{
  background-size: 400% auto;
  background-position: left center;
  border-color: var(--butt-main-text);
  color: var(--butt-sec-text);
}

/*Floats the element up on start.*/
.floatOnStart
{
  animation: onStartFloat var(--animDur);
  animation-fill-mode: backwards;
  transition: transform 0.25s;
}

.dissappearOnStart
{
  animation: onStartDissappear var(--animDur);
  animation-fill-mode: forwards;
  transition: transform 0.25s;
}

/*Floats element up when hovered over.*/
.floatOnHover 
{
  transition: transform 0.25s;
}

.floatOnHover:hover
{
  transform: translate(0px, -10px);
}

/*Animation classes for delaying the start animation.*/
.anim0s { animation-delay: calc(var(--animDel)); }
.anim1s { animation-delay: calc(1 * (var(--animDur) + var(--animDel))); }
.anim1_25s { animation-delay: calc(1.25 * (var(--animDur) + var(--animDel))); }
.anim1_5s { animation-delay: calc(1.5 * (var(--animDur) + var(--animDel))); }
.anim1_75s { animation-delay: calc(1.75 * (var(--animDur) + var(--animDel))); }
.anim2s { animation-delay: calc(2 * (var(--animDur) + var(--animDel))); }
.anim2_25s { animation-delay: calc(2.25 * (var(--animDur) + var(--animDel))); }
.anim2_5s { animation-delay: calc(2.5 * (var(--animDur) + var(--animDel))); }
.anim2_75s { animation-delay: calc(2.75 * (var(--animDur) + var(--animDel))); }
.anim3s { animation-delay: calc(3 * (var(--animDur) + var(--animDel))); }
.anim3_25s { animation-delay: calc(3.25 * (var(--animDur) + var(--animDel))); }

/*Moves element to the right of the parent.*/
.fr {float: right;}

/*Moves element to the left of the parent.*/
.fl {float: left;}

/*Class for the name of an input element.*/
.inputName
{
  color: var(--butt-main-text-gradient);
  background-color: var(--input-name-bg);
  border-color: var(--input-border);
}

/*Class for the field of an input element.*/
.inputField
{
  color: var(--def-main-text);
  background-color: var(--card-bg);
  border-color: var(--input-border);
  transition: 0.25s;
}

.inputCheckbox
{
  padding: 10px; 
  margin-right: 10px;
}

.inputCheckbox:checked
{
  background-color: var(--butt-main-text);
  border-color: var(--butt-main-text);
}

.inputChecklabel
{
  margin-top: 2px;
}

/*Makes sure the colors of the input field stay consistent when focused.*/
.inputField:focus
{
  color: var(--def-main-text);
  background-color: var(--card-bg);
  border-color: var(--input-border);
}

/*Class for a card.*/
.car
{
  border: 2px transparent;
  border-radius: 12px 12px 12px 12px;
  background-color: var(--card-bg);
}

/*Class for the card image.*/
.carImg
{
  border-radius: 10px 10px 0px 0px;
}

/*Class for the card header.*/
.carHead
{
  background-color: var(--butt-main-bg);
  color: var(--head-text);
  font-weight: bold;
  text-align: left;
  font-size: 22.5px;
  text-transform: uppercase;
}

.carHead-blank
{
  background-color: var(--card-bg);
  color: var(--butt-main-text);
  font-weight: bold;
  text-align: left;
  font-size: 22.5px;
  text-transform: uppercase;
}

.carhead.carHead-grad
{
  background-size: 100% auto;
  background-image: linear-gradient(to right, var(--butt-main-text) 0%,
    var(--blu) 100%);
}

/*Class for secondary card headers.*/
.carHead-sec
{
  background-color: var(--input-name-bg);
  border-color: var(--input-border);
}

/*Class for the card body.*/
.carBod
{
  background-color: var(--card-bg);
  color: var(--def-main-text);
  border-radius: 0px 0px 10px 10px;
}

/*Class for the card title*/
.carTit
{
  font-size: 16px;
  font-weight: bold;
  color: var(--def-main-text);
}

/*Class for the text inside a card body.*/
.carTex
{
  color: var(--def-main-text);
}

/*Class for card navigation buttons.*/
.carNavButt
{
  color: var(--butt-main-text);
  font-weight: bold;
}

/*Class for active card navigation buttons.*/
.carNavButt.active
{
  background-color: var(--butt-main-text);
  color: white;
  border-radius: 5px;
}

/*Start animation.*/
@keyframes onStart
{
  0%
  {
     opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}

@keyframes onStartDissappear
{
  0%
  {
	opacity: 1;
    transform: translate(0px, 0px);
  }
  100%
  {
    opacity: 0;
    transform: translate(0px, -100px);
  }
}

/*Start float animation.*/
@keyframes onStartFloat
{
  0%
  {
     opacity: 0;
     transform: translate(0px, -50px);
  }
  100%
  {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes bgSwitchL2D
{
  0%
  {
    background-position: 0% 0px, 50% -300px;
    background-color: var(--light-bg);
    background-image: linear-gradient(to bottom, var(--light-bgGrad) -20%, 
    var(--light-bg) 50%), url("https://trainingair.com/images/layout/bg.jpg");
  }
  33%
  {
    background-position: 0% -2000px, 50% -1500px;
    background-color: var(--light-bg);
    background-image: linear-gradient(to bottom, var(--light-bgGrad) -20%, 
    var(--light-bg) 50%), url("https://trainingair.com/images/layout/bg.jpg");
  }
  66%
  {
    background-position: 0% -2000px, 50% -1500px;
    background-color: var(--dark-bg);
    background-image: linear-gradient(to bottom, var(--dark-bgGrad) -20%, 
    var(--dark-bg) 50%), url("https://trainingair.com/images/layout/bg.jpg");
  }
  100%
  {
    background-position: 0% 0px, 50% -300px;
    background-color: var(--dark-bg);
    background-image: linear-gradient(to bottom, var(--dark-bgGrad) -20%, 
    var(--dark-bg) 50%), url("https://trainingair.com/images/layout/bg.jpg");
    animation: none;
  }
}

@keyframes bgSwitchD2L
{
  0%
  {
    background-position: 0% 0px, 50% -300px;
    background-color: var(--dark-bg);
    background-image: linear-gradient(to bottom, var(--dark-bgGrad) -20%, 
    var(--dark-bg) 50%), url("https://trainingair.com/images/layout/bg.jpg");
  }
  33%
  {
    background-position: 0% -2000px, 50% -1500px;
    background-color: var(--dark-bg);
    background-image: linear-gradient(to bottom, var(--dark-bgGrad) -20%, 
    var(--dark-bg) 50%), url("https://trainingair.com/images/layout/bg.jpg");
  }
  66%
  {
    background-position: 0% -2000px, 50% -1500px;
    background-color: var(--light-bg);
    background-image: linear-gradient(to bottom, var(--light-bgGrad) -20%, 
    var(--light-bg) 50%), url("https://trainingair.com/images/layout/bg.jpg");
  }
  100%
  {
    background-position: 0% 0px, 50% -300px;
    background-color: var(--light-bg);
    background-image: linear-gradient(to bottom, var(--light-bgGrad) -20%, 
    var(--light-bg) 50%), url("https://trainingair.com/images/layout/bg.jpg");
    animation: none;
  }
}

/*Class for the text underneath the logo.*/
.logoText
{
  color: var(--blu);
  font-size: auto 40px;
  font-weight: bold;
  background-size: 100% auto;
  background-image: linear-gradient(to right, var(--logo-main-text) 45%,
    var(--blu) 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Verdana, sans-serif;
  animation-timing-function: ease-in;
}

.bigText
{
  color: var(--butt-main-text);
  font-size: 67.5px; 
  font-weight: bold;
}

/*Class for the body*/
body
{
  animation: none;
  background-color: var(--bg);
  transition: 1s;
  /*background-image: linear-gradient(to top, transparent, white) 
    url("https://trainingair.com/images/layout/bg.jpg");*/
  background-image: linear-gradient(to bottom, var(--bgGrad) -20%, 
    var(--bg) 50%), url("https://trainingair.com/images/layout/bg.jpg");
  /*background-size: 100% 50%;*/
  background-size: 2500px 2000px, 2500px 1500px;
  background-repeat: no-repeat;
  background-position: 0% 0px, 50% -300px;
  margin-bottom: -6.5rem;
}

.bgAnimL2D
{
  animation: bgSwitchL2D 1s linear 0s;
}

.bgAnimD2L
{
  animation: bgSwitchD2L 1s linear 0s;
}

/*Makes sure all list and table text colors match darkmode.*/
li, th, td
{
  color: var(--def-main-text);
}

/*Class for the navbar.*/
.navBi
{
  background-color: var(--navbar-bg);
  transition: 0.25s;
}

/*This hides the ugly arrows within a number input field.*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/*Colors invalid input fields red.*/
input:invalid 
{
  color: var(--inputInvalid);
}

/*This hides the ugly browse button within a file input field*/
input[type="file"]::file-selector-button
{
  opacity: 0;
  margin: -50px;
}

.parallax 
{
  /* The image used */
  background-image: linear-gradient(to bottom, var(--butt-main-text) 25%, var(--bg) 75%);

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}