body 
{
	background-color: rgba(96, 255, 167, 0.596);
}

h1 
{
	font-family: verdana;
	color: rgb(0, 141, 117);
	text-align: center;
}

p 
{
	color: rgb(0, 169, 150);
	font-family: verdana;
	font-size: 20px;
	text-align: center;
}

a 
{
	font-family: verdana;
	font-size: 20px;
	text-align: center;
}